@{
    Layout = "_Layout";
}

@model Factory.Models.Machine

<div class="jumbotron">
    <h1>Add New Machine</h1>
</div>

<div class="machineStyle">
    @using (Html.BeginForm())
    {
        <h3>Machine Name: @Html.TextBoxFor(model => model.MachineName)</h3>
        <h3>Machine Description: @Html.TextBoxFor(model => model.MachineDescription)</h3>

        <input type="submit" value="Add Machine" class="btn btn-primary">
    }
</div>
<hr style="width:80%" />
<div class="links">
    <h3>Navigation Links</h3>
    <hr style="width:80%" />
    <h4>@Html.ActionLink("Machine List", "Index")</h4>
    <h4>@Html.ActionLink("Home Page", "Index", "Home")</h4>
</div>