@{
    Layout = "_Layout";
}

<div class="jumbotron">
    <h1>Dr. Sillystrings's Factory</h1>
    <h2>Welcome To Your Engineers and Machines Log</h2>
    <h3>@Html.ActionLink("View All Engineers", "Index", "Engineers")</h3>
    <h3>@Html.ActionLink("View All Machines", "Index", "Machines")</h3>

</div>